{{page-title (t "layout.application.title")}}

<header local-class="header">
  <img
    alt={{t "layout.application.logo-alt-text"}}
    local-class="logo"
    src="{{this.rootURL}}/assets/ember-data-4c-on-light-bg.png"
  >

  <div local-class="locale-menu-container">
    <LocaleMenu />
  </div>
</header>

<div local-class="content-wrapper">
  <SidebarNav @model={{@model}} />

  <main local-class="main main-content">
    <h1 local-class="title">
      {{t "layout.application.title"}}
    </h1>

    <p>
      {{t "layout.application.description-1" htmlSafe=true}}
    </p>

    <p>
      {{t "layout.application.description-2" htmlSafe=true}}
    </p>

    {{#each @model as |section|}}
      <div id={{section.id}}  local-class="guide-section-container">
        <GuideSection
          @section={{section}}
        />
      </div>
    {{/each}}
  </main>
</div>